
<div class="row">
  <div class="your-check">
    <div class="span6">
      Your Checklists 
      <% current_user.checklists.each do |checklist|%>
        <%= checklist.title %><br>
        <%= link_to 'See Details', checklist_path(checklist) %>
        <%= checklist.description %>
      <% end %>
    </div>
  </div>

  <div class="used-check">
    <div class="span6">
      Used Checklists
      <% current_user.checklist_runs.each do |run| %> 
        <%= link_to checklist_checklist_run_path(run.checklist, run) do %>
          <%= run.checklist.title  %><br />
          <%= run.checklist.description %><br /><br />
        <% end %>
      <% end %> 
    </div>
  </div>
</div>

