<p>Analytics</p>
<div class="check-stats">0/<%= @checklist_run.task_completions.count %></div>

<div id="gauge" style="width:300px; height:300px"></div>

<%= @checklist.title %><br>
<%= @checklist.description %>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<%= simple_form_for [@checklist, @checklist_run] do |f| %>
    <%= f.simple_fields_for :task_completions do |form| %>
    <tr>
      <td> <%= form.input :completed, as: :boolean, label: false %></td>
      <td><%= form.label :completed, label: form.object.task.name %></td>
    </tr>

    <% end %>
    <tr>
       <td><%= f.submit 'Complete' %></td>
      <td></td>
    </tr>


<% end %>

  </tbody>
</table>

<%# link_to 'Complete', new_checklist_checklist_run_path(@checklist) %>
<!-- leaving off here - look at the nested resources for checklist run and controller  -->
