<p>Checklist Title</p>



<%= simple_nested_form_for @checklist do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.fields_for :tasks do |task_form| %>
  <%= task_form.input :name %>
  <%= task_form.link_to_remove "Remove Task" %>
  
<% end %>
  <%= f.link_to_add "Add Task", :tasks %>
  <%= f.submit 'Create Checklist' %>

<% end %>
