<div class="span6 offset4" id="explore-title">
  Explore
</div>

<div class="row">
  <div class='searching'>
      <div class='form-inline'>
      <%= search_form_for @q, url: explore_index_path, :builder => SimpleForm::FormBuilder do |f| %>
          <% f.label :title_cont, "Name contains" %>
          <%= f.text_field :title_cont, :placeholder => 'Search', :class => 'explore-search' %>
          <%= f.submit "Search", :class => 'btn btn-search' %>
      </div>
      <% end %>
  </div>
</div>

<div class="pagination">
  <%= paginate @checklists  %>
</div>

<div>Featured</div>

<ul>
  <% @checklists.each do |c| %>
   <li> <%= c.title %> </li>
   <li> <%= c.description %></li>
  <%= link_to 'See Details', checklist_path(c) %>
  <% end %>
</ul>




<div align="center">
<%= link_to "Create a New Checklist", new_checklist_path, :class => 'btn btn-success'  %>
</div>
