<div align="center" id="explore-title">
  Explore
</div>

<div class="row">
  <div class='searching'>
    <div align="center">
      <div class='form-inline'>
      <%= search_form_for @q, url: explore_index_path, :builder => SimpleForm::FormBuilder do |f| %>
          <% f.label :title_cont, "Name contains" %>
          <%= f.text_field :title_cont, :placeholder => 'Search', :class => 'explore-search' %>
          <%= f.submit "Search", :class => 'btn btn-search' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="featured-list">
  <div class="pagination">
    <%= paginate @checklists  %>
  </div>

  <div id='featured'>Featured</div>

<table class="table table-hover fixed">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 
      <% @checklists.each do |c| %>
       <tr>
        <td id="explore-titles"> <%= c.title %></td>
        <td> <%= c.description %></td>
        <td id="see-details"><%= link_to 'See Details', checklist_path(c) %></td>
        </tr>
      <% end %>
 
</div>
 </tbody>
</table>


<div align="center">
<%= link_to "Create a New Checklist", new_checklist_path, :class => 'btn btn-success btn-explore'  %>
</div>
