<!DOCTYPE html>
<html>
<head>
  <title>RxchecklistApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">RxCheck</a>
      <ul class="nav">
        <li><a href="/explore">Explore</a></li>
        <li><a href="/checklists/new">New Checklist</a></li>
        <li><%= render 'devise/menus/login' %></li>
        <li><%= render 'devise/menus/signup' %></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <hr>
  <div class="site-footer">
    <footer>
      &copy; 2013
    </footer>
  </div>
</div>



</body>
</html>
