<!DOCTYPE html>
<html>
<head>
  <title>RxchecklistApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">RxCheck</a>
      <ul class="nav">
        <li><a href="/explore">Explore</a></li>
        <li><a href="/checklists/new">New Checklist</a></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Profile", user_path(current_user) %>
          <% else %>
            <!-- nothing -->
          <% end %>
        </li>
        <li><%= render 'devise/menus/login' %></li>
        <li><%= render 'devise/menus/signup' %></li>
      </ul>
      <div id="user_nav">

      </div>
    </div>
  </div>



    <div id="flash">
     <% flash.each do |key, value| -%>
     <%- unless key == :action %>
     <div class="alert alert-<%= value %>"><%=h value %></div>
     <%- end-%>
     <% end -%>
   </div>

   <div class="container">

    <%= yield %>

  <div class="row foot">
  </div>

    <hr>

    <footer>
      <div class="row">
        <div class="navbar span4">
          <ul class="nav">
            <li><a href="/explore">Explore</a></li>
            <li><a href="/checklists/new">New Checklist</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>
